table {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

tbody {
  height: 397px;
  overflow-y: scroll;
}

th {
  background-color: #3d405b;
  color: #f4f1de;
  width: 280px;
  padding: 10px 0;
  font-size: 20px;
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

::-webkit-scrollbar:nth-child(5) {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loading h3 {
  text-align: center;
}

.loading img {
  height: 300px;
}

.sortby {
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

select {
  margin-left: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 0 5px;
}
